<div class="container list-container">
  <button type="button" class="collapsible"><h3>{{ site.allgitcontributiongraph_title | default: "All git Contribution Graph" }}</h3></button>
  <div class="content">
   <div class="row clearfix">
    {%- if site.allgitcontributiongraph_image -%}
      <div class="col-xs-12">
        <img src="{{ site.allgitcontributiongraph_image }}" />
      </div>
    {%- endif -%}
   <div class="{{ 'col-xs-12 ' }}">
      {{ site.allgitcontributiongraph_content | strip | markdownify }}
    </div>
   </div>
  </div>
</div>

