<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body class="{% if site.darkmode == true and site.darkmode != 'never' %}dark{% endif %}">

  {%- include header.html -%}

  <main class="page-content" aria-label="Content">
    <div class="wrapper">

      {%- if jekyll.environment == 'production' and site.gtm -%}
        {%- include gtm_body.html -%}
      {%- endif -%}
      {%- include about.html -%}
      {%- include allgitcontributiongraph.html -%}
      {%- if site.version == 2 -%}
        {% for section in site.content %}
          <div class="container {{ section.layout }}-container">
            <button type="button" class="collapsible"><h3>{{ section.title }}</h3></button>
            <div class="content">
             {% include {{ section.layout | prepend: "section-" | append: ".html" }} content=section.content %}
            </div>
          </div>
        {% endfor %}
      {% else %}
        {%- include v1/default.html -%}
      {%- endif -%}
    </div>
  </main>

  {%- include footer.html -%}
  {% if site.darkmode == false %}
    <script src="{{ './assets/js/index.js' | relative_url }}"></script>
  {% endif %}
<script src="{{ './assets/js/collapsible.js' | relative_url }}"></script>
</body>

</html>
